body, html {
    height: 100%;
    background-color: black;
  }

  .bg-image {
    /* The image used */
    background-image: image-set("fundo.jpg");
  
  
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: yellow;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }